<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gonzalo.cartilladevacunacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CartillaDeVacunacion">
        <activity
            android:name=".ActivityHome"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".ActivityRecover"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".ActivityRegister"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>